@charset "UTF-8";
input[required]:invalid, input:focus:invalid, input:visited:invalid, textarea[required]:invalid, textarea:focus:invalid {
  box-shadow: none; }

html {
  height: 100%; }

html, body {
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  background-color: #fff; }

#drawCoins {
  padding-left: 1rem;
  background-color: #fff; }

.drawForm .con {
  padding: 1.1875rem 1rem 0 0;
  border-bottom: 1px solid #e4e4e4; }
.drawForm label {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  position: relative; }
.drawForm .errorText {
  position: absolute;
  right: 0;
  top: 0;
  color: #ff4e37;
  font-size: 0.875rem; }
.drawForm .drawInput {
  display: flex;
  flex-direction: row; }
  .drawForm .drawInput .num {
    flex: 1;
    height: 2.75rem;
    line-height: 2.75rem;
    font-size: 1rem;
    color: #000;
    overflow: hidden;
    white-space: nowrap; }
  .drawForm .drawInput span {
    font-size: 1rem;
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: right;
    color: #91a3b9;
    padding-left: 0.375rem; }
  .drawForm .drawInput .inputItem {
    -webkit-appearance: none;
    flex: 1;
    display: inline-block;
    height: 2.75rem;
    line-height: 2.75rem;
    font-size: 1rem;
    color: #000;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    text-align: left;
    padding: 0; }
  .drawForm .drawInput #drawUrl, .drawForm .drawInput #drawNum {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; }
  .drawForm .drawInput .minInput {
    min-width: 64%; }
  .drawForm .drawInput .arrow {
    width: 2.25rem;
    text-align: right;
    padding-left: 0; }
    .drawForm .drawInput .arrow img {
      display: none;
      width: 1.1875rem;
      height: 1.1875rem;
      vertical-align: middle; }
  .drawForm .drawInput .totality {
    display: inline-block;
    font-size: 1rem;
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: right;
    color: #000;
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none; }
  .drawForm .drawInput .marginTop {
    width: 2.25rem;
    font-size: 0.875rem; }
.drawForm .tips {
  padding: 0.6875rem 1rem;
  margin-top: 0.6875rem;
  margin-right: 1rem;
  background-color: #f7f7fb;
  color: #91a3b0;
  font-size: 0.75rem; }
.drawForm .block {
  height: 4.8125rem; }
.drawForm .drawBtn {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box; }
  .drawForm .drawBtn button {
    display: block;
    width: 100%;
    height: 2.8125rem;
    background-color: #ff9900;
    border-radius: 0.375rem;
    color: #fff;
    font-size: 1.125rem;
    border: none;
    outline: none; }

/** 更多地址 **/
.urlBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none; }
  .urlBox .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none; }
  .urlBox .urlList {
    position: absolute;
    bottom: -12.375rem;
    left: 0;
    width: 100%;
    background-color: #fff; }
    .urlBox .urlList ul {
      max-height: 12.5rem;
      overflow-y: scroll; }
      .urlBox .urlList ul li {
        border-bottom: 1px solid #d7d7d7; }
        .urlBox .urlList ul li p {
          width: 92%;
          height: 2.875rem;
          line-height: 1.4375rem;
          display: flex;
          align-items: left;
          justify-content: space-around;
          flex-direction: column;
          padding: 0.625rem 0;
          font-size: 1rem;
          margin: 0 auto;
          overflow-x: hidden;
          word-break: break-all; }
    .urlBox .urlList .cancel {
      padding: 0.625rem 0;
      text-align: center;
      font-size: 1.125rem;
      border-top: 0.1875rem solid #d7d7d7; }

/*# sourceMappingURL=btc_draw.css.map */
