html, body {

    width: 100%;
    overflow-y: scroll;
    font-size: 16px;
}
body {
    overflow-x: hidden;
    background-color: #f8f8f9;
    /*overflow-y:auto;*/
    -webkit-overflow-scrolling: touch;
}
.content{
    padding-bottom: 5rem;
}
.line {
    position:relative;
}
.line:after, .line:before {
    width: 200%;
    height: 200%;
    position:absolute;
    top:0;left: 0;
    z-index:0;
    content:"";
    -webkit-transform:scale(0.5);
    -webkit-transform-origin:0 0;
    transform:scale(0.5);
    transform-origin:0 0;
    box-sizing:border-box; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
/* 头部交易记录样式 */
header {
    width: 100%;
    height: 13rem;
    background-image: url('../img/bg_shouye@3x.png');
    background-size: 100% 97%;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 3rem;
    position: relative;
}
.trans_record h1 {
    font-size: 1.8rem;
    padding-left: 2rem;
}
.trans_record {
    width: 90%;
    margin: 0 auto;

    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 20px 0px rgba(39, 52, 125, 0.25);
    border-radius: 0.8rem;
    color: #212c68;
    padding: 1rem 0 2rem;
    position: absolute;
    top: 3.4rem;
    left: 1.2rem;
}
.infor {
    color: #777;
    font-size: 0.8rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
}
.activity {
    width: 85%;
    margin: 3rem auto 0 auto;
}
.acti_pro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.2rem;
}
.acti_name {
    display: flex;
    justify-content: space-between;
}
.acti_icon {
    width: 2.5rem;
    height: 2.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 0.5rem;
}
.every {
    background-image: url('../img/meirijiangli.png');
}
.attend {
    background-image: url('../img/lift.png');
}
.phone {
    background-image: url('../img/bangdingshouji.png');
}
.acti {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.names {
    font-size: 0.8rem;
    color: #414141;
}
.sma_info {
    font-size: 0.6rem;
    color: #999999;
}
.acti_btn {
    width: 4.5rem;
    text-align: center;
    background-color: #ff9e00;
    padding: 0.5rem 0;
    border-radius: 1rem;
    font-size: 0.8rem;
    color: #fff;
}
.fg {
    width: 100%;
    height: 1px;
    margin: 1.5rem 0;
}
.fg::after {
    border-top: 1px solid #c7c7c7;
}

.surpri {
    width: 80%;
    height: 2.8rem;
    margin: 13.4rem auto 0 auto;
    background-image: url('../img/bot_QR.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

/* 底部菜单栏 */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 2rem;
    background-color: #f6f6f6;
    border-top: 1px solid #e1e3ec;
    padding: 0.6rem 0;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    background-color: #fff;
}
.gexian {
    width: 1px;
    height: 100%;
    border-left: 1px solid #e1e3ec;
}
footer div {
    text-align: center;
    width: 50%;
}

.icon_wallet {
    display: block;
    width: 2rem;
    height: 2.5rem;
    margin: 0 auto;
    background-image: url('../img/icon_qianbao@2x.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    top: -0.2rem;
}
.icon_money {
    display: block;
    width: 2rem;
    height: 2.5rem;
    margin: 0 auto;
    background-image: url('../img/icon_zhaobi2@3x.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    top: -0.2rem;
}

.attention {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
}
.maskLayer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.public_num {
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -13.3rem;
    margin-left: -9.4rem;
    width: 18.8rem;
    height: 26.6rem;
    background-color: rgba(255,255,255,0.9);
    border-radius: 0.5rem;
}
.public_num h3 {
    text-align: center;
    margin: 0;
    padding: 2rem;
    font-size: 1.5rem;
}
.qr_code {
    width: 12rem;
    margin: 0 auto;
    height: 12rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qr_code img {
    width: 10rem;
    height: 10rem;
}
.changan {
    padding-top: 2rem;
    text-align: right;
    padding-right: 5.5rem;
    position: relative;
}
.num1 {
    font-size: 1rem;
}
.num2 {
    font-size: 0.8rem;
}
.bgt {
    width: 7.5rem;
    height: 7.5rem;
    background-image: url('../img/logo@2x.png');
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 1rem;
    top: 1rem;
}